{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Comptes Liés {% endblock %}

{% block body %}

    <h1>Comptes liés</h1>

    <div class="slack-account">
        <h3>Se connecter à <a href="">Slack</a></h3>
    </div>

    <div class="discord-account">
        <h3>Se connecter à <a href="">Discord</a></h3>
    </div>

    <a href="{{ path('app_index') }}">Retour</a>

{% endblock %}