{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Messages Planifiés {% endblock %}

{% block body %}

    <h1>Messages planifiés</h1>

    {% for message in messages %}

        {{ message.content }}

    {% endfor %}

    <a href="{{ path('app_index') }}">Retour</a>

{% endblock %}