<div class="header">
    <div class="logo">
        <a href="{{ path('app_index') }}">Accueil</a>
    </div>
    <div class="nav-links">
        <a href="">Profil</a>
        <a href="">Publier</a>
        <a href="">Comptes liés</a>
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    </div>
</div>