<div class="header">
    <div class="logo">
        <a href="{{ path('app_index') }}">Accueil</a>
    </div>
    <div class="nav-links">
        <a href="{{ path('profile_index') }}">Profil</a>
        <a href="{{ path('message_new') }}">Publier</a>
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    </div>
</div>